body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: relative; 
    font-size: small;
    background-color: #000;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #808080;
}

#logo {
    font-size: 2em;
    font-weight: bold;
}

.hamburger {
    display: none; 
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute; 
        left: 10%; 
        top: 20px; 
    }

    .navbar {
        justify-content: center;
    }

    .navbar .nav-item:not(#logo) {
        display: none;
    }
}

.content-container {
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 50px 20px;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    line-height: 1.2;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #808080;
}

.main-text {
    max-width: 40%;
    margin-top: 1em;
}

.secondary-text {
    max-width: 60%;
    margin-top: 2em;
}

.button {
    padding: 10px 20px;
    background-color: #292929;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px 0 0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #808080;
    color: #fff;
}

#primary-button {
    background-color: rgb(37,171,117);
}

#primary-button:hover {
    background-color: rgb(53, 231, 160);
}

.car-catalog {
    background-color: #1e1e1e;
    padding: 20px;
    color: #fff;
}

.catalog-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.car-item {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.car-image {
    width: 100%;
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
}

.car-name {
    font-size: 1.2em;
    margin-top: 10px;
}

.car-price {
    font-size: 1em;
    color: #808080;
}

.more-cars-button {
    margin: 0 20px 20px auto;
}

.catalog-header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-now-section {
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 80px auto;
    width: 80%;
}

.order-now-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.order-now-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-now-text h2 {
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.order-now-text p {
    color: #000;
    margin: 0;
}

.order-now-form {
    display: flex;
    gap: 10px;
}

.phone-input {
    padding: 15px;
    border: 2px solid #000;
    border-radius: 20px;
    width: 250px;
    color: #000;
    background-color: #f0f0f0;
}

.order-button {
    background-color: #37ab77;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 25px;
}

.order-button:hover {
    background-color: #2d8f65;
}

.conditions-section {
    background-color: #000000;
    padding: 40px;
    text-align: center;
}

.conditions-title {
    color: #ffffff;
    margin-bottom: 30px;
    text-align: left;
    font-weight: bold;
    font-size: 2em;
}

.conditions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.condition-card {
    width: 25%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
    align-content: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 20px;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    #logo {
        margin-bottom: 20px;
    }

    .content-container, .order-now-container {
        max-width: 95%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-text, .secondary-text {
        max-width: 100%;
    }

    .cars-container, .conditions-container {
        flex-direction: column;
    }

    .car-item, .condition-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .catalog-header {
        flex-direction: column;
        align-items: center;
    }

    .more-cars-button {
        margin: 20px 0;
    }

    .order-now-text {
        align-items: center;
    }

    .order-now-form {
        flex-direction: column;
    }

    .phone-input, .order-button {
        width: 100%;
    }
}

.mascot {
    position: fixed;
    bottom: 20px; 
    right: 0%; 
    width: 150px; 
    height: auto;
    opacity: 0; 
    animation: slideIn 10s infinite alternate, fadeIn 2s forwards 2s; 
}

@media (max-width: 768px) {
    .mascot {
        width: 100px; 
    }
}

@keyframes slideIn {
    0%, 100% {
        transform: scaleX(1); 
        right: 0%; 
    }
    50% {
        transform: scaleX(-1); 
        right: 20%; 
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
